<div class="header">
  <button (click)="despligueMenu()">☰</button>
  <h2>SINFO</h2>
  <button (click)="alternarOpciones()"><img [src]="foto" alt="Foto de perfil"></button>
</div>

<app-menu *ngIf="mostrarMenu" />
<app-menu *ngIf="mostrarMenu" (cerrarMenu)="despligueMenu()" />

<app-opciones-usuario *ngIf="mostrarOpciones" />
<div class="a"><h2>Bienvenido {{nombre}}</h2></div>
<div class="top-charts">
  <div class="chart">Canciones más recientes</div>
  <div class="chart">Top 2</div>
  <div class="chart">Top 3</div>
</div>
