<div class="canciones">
  <h2>Top Canciones más escuchadas</h2>

  <!-- Buscador -->
  <div class="filtros">
    <input type="text" placeholder="Buscar por nombre" [(ngModel)]="nombreFiltro" (input)="filtrarCanciones()" />
    
    <select [(ngModel)]="generoFiltro" (change)="filtrarCanciones()">
      <option value="">Todos los géneros</option>
      <option *ngFor="let genero of generosDisponibles" [value]="genero">{{ genero }}</option>
    </select>
  </div>

  <div *ngIf="cancionesFiltradas.length === 0">No hay canciones disponibles.</div>
  <ul>
    <li *ngFor="let song of cancionesFiltradas">
      <img [src]="song.imagen" alt="Portada del álbum">
      <div class="info">
        <strong>{{ song.titulo }}</strong>
        <span>{{ song.artistas.join(', ') }}</span>
        <em>{{ song.album }}</em>
      </div>
    </li>
  </ul>
</div>
