<div class="menu-container" [class.menu-oculto]="oculto">
  <div class="perfil">
    <button class="close-button" (click)="close()">✖</button>
    <div class="profile-container" (click)="irAlPerfil()">
      <img [src]="foto" alt="foto perfil">
      <div class="overlay">Ir al perfil</div>
    </div>
    <h2>{{ nombre }}</h2>
  </div>

  <ul>
    <li (click)="goToArtists()">Artistas</li>
    <li (click)="goToSongs()">Canciones</li>
    <li (click)="goToWrap()">Mini Wraps</li>
  </ul>
</div>
