<div class="artists-container">
  <h2>Top Artistas</h2>

  <div class="search-bar">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar artista">
    <button (click)="onSearch()">Buscar</button>
  </div>

  <div *ngIf="filteredArtists.length === 0">No hay resultados.</div>
  <ul>
    <li *ngFor="let artist of filteredArtists">
      <img [src]="artist.imagen" alt="Imagen del artista">
      <div class="info">
        <strong>{{ artist.nombre }}</strong>
        <small *ngIf="artist.generos.length">({{ artist.generos[0] }})</small>
      </div>
    </li>
  </ul>
</div>
