<div class="artistas">
  <h2>Top Artistas o Grupos más escuchados</h2>

  <div class="buscar">
    <input type="text" [(ngModel)]="nombre" placeholder="Buscar artista">
    <button (click)="onSearch()">Buscar</button>
  </div>

  <div *ngIf="filtrados.length === 0">No hay resultados.</div>
  <ul>
    <li *ngFor="let artist of filtrados">
      <img [src]="artist.imagen" alt="Imagen del artista">
      <div class="info">
        <strong>{{ artist.nombre }}</strong>
        <small *ngIf="artist.generos.length">({{ artist.generos[0] }})</small>
      </div>
    </li>
  </ul>
</div>
